<div class="chatHead">
  <button (click)="back()"><i class="material-icons">arrow_back</i></button>
  <h1>James Steve</h1>
  <p>Online now</p>
  <div class="chatPhoto">
    <img src="/assets/images/blank-profile.png" width="35" height="35" alt="">
    <i class="online"></i>
  </div>
</div>
<div class="chatArea">
  <div class="leftChat">
    <div class="pic">
        <img src="/assets/images/blank-profile.png" width="40" height="40" alt="">
    </div>
    <div class="message">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, accusamus dignissimos cumque tenetur non libero quae nulla officiis laboriosam ratione molestiae nam corrupti rerum excepturi voluptatibus adipisci tempora expedita nesciunt.</p>
      <span>10:30 PM</span>
    </div>
  </div>
  <div class="rightChat">
    <div class="message">
      <p>Awesome!</p>
      <span>10:31 PM</span>
    </div>
  </div>
  <div class="leftChat">
    <div class="pic">
        <img src="/assets/images/blank-profile.png" width="40" height="40" alt="">
    </div>
    <div class="message">
      <p>Hello doms!</p>
      <span>10:33 PM</span>
    </div>
  </div>
  <div class="rightChat">
    <div class="message">
      <p>Thank you</p>
      <span>10:35 PM</span>
    </div>
  </div>
</div>
<div class="chatFooter">
  <form action="">
    <button class="camera"><i class="material-icons">local_see</i></button>
    <input type="text" placeholder="Type your message">
    <button class="like"><i class="material-icons">thumb_up</i></button>
  </form>
</div>
