<app-nav></app-nav>

<form class="searchForm">
  <mat-form-field>
    <input type="text" matInput placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>

<ul class="chatList">
  <li>
    <div class="chatBlock01">
      <img src="/assets/images/blank-profile.png" width="50" height="50" alt="">
      <i class="online"></i>
    </div>
    <div class="chatBlock02">
      <strong>Dominick Sanchez</strong>
      <span class="email">dominicksanchez30@gmail.comdominicksanchez30@gmail.comdominicksanchez30@gmail.com</span>
      <button><i class="material-icons">chevron_right</i></button>
    </div>
  </li>
  <li>
    <div class="chatBlock01">
      <img src="/assets/images/blank-profile.png" width="50" height="50" alt="">
      <i class="online"></i>
    </div>
    <div class="chatBlock02">
      <strong>Dominick Sanchez</strong>
      <span class="email">dominicksanchez30@gmail.comdominicksanchez30@gmail.comdominicksanchez30@gmail.com</span>
      <button><i class="material-icons">chevron_right</i></button>
    </div>
  </li>
  <li>
    <div class="chatBlock01">
      <img src="/assets/images/blank-profile.png" width="50" height="50" alt="">
      <i class="online"></i>
    </div>
    <div class="chatBlock02">
      <strong>Dominick Sanchez</strong>
      <span class="email">dominicksanchez30@gmail.comdominicksanchez30@gmail.comdominicksanchez30@gmail.com</span>
      <button><i class="material-icons">chevron_right</i></button>
    </div>
  </li>
  <li>
    <div class="chatBlock01">
      <img src="/assets/images/blank-profile.png" width="50" height="50" alt="">
      <i class="online"></i>
    </div>
    <div class="chatBlock02">
      <strong>Dominick Sanchez</strong>
      <span class="email">dominicksanchez30@gmail.comdominicksanchez30@gmail.comdominicksanchez30@gmail.com</span>
      <button><i class="material-icons">chevron_right</i></button>
    </div>
  </li>
  <li>
    <div class="chatBlock01">
      <img src="/assets/images/blank-profile.png" width="50" height="50" alt="">
      <i class="online"></i>
    </div>
    <div class="chatBlock02">
      <strong>Dominick Sanchez</strong>
      <span class="email">dominicksanchez30@gmail.comdominicksanchez30@gmail.comdominicksanchez30@gmail.com</span>
      <button><i class="material-icons">chevron_right</i></button>
    </div>
  </li>
</ul>
 