<nav>
  <ul class="navList">
    <li><a href="" routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">chat</i><span>Chats</span></a></li>
    <li><a href="" routerLink="/friends" routerLinkActive="active-link"><i class="material-icons">account_box</i><span>Friends</span></a></li>
    <li><a href="" routerLink="/people" routerLinkActive="active-link"><i class="material-icons">people</i><span>People</span></a></li>
    <li><a href="" routerLink="/profile" routerLinkActive="active-link"><i class="material-icons">account_circle</i><span>Profile</span></a></li>
  </ul>
</nav>